<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <!--创建jdbc数据源 -->
       <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
             destroy-method="close">
          <property name="driverClassName" value="${driver}" />
          <property name="url" value="${url}" />
          <property name="username" value="${username}" />
          <property name="password" value="${password}" />
           <!-- 最大连接数据库连接数 -->
           <property name="maxActive" value="500" />
           <!-- 最大等待连接中的数量   0标识没有限制 -->
           <property name="maxIdle" value="10" />
           <!-- 最大等待毫秒数  超时报错 -->
           <property name="maxWait" value="500" />
           <property name="defaultAutoCommit" value="true" />
           <!-- 是否自我中断 -->
           <property name="removeAbandoned" value="true" />
           <property name="removeAbandonedTimeout" value="60" />
       </bean>

       <!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->
       <bean id="transactionManager"
             class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
              <property name="dataSource" ref="dataSource" />

       </bean>

       <!-- 创建SqlSessionFactory，同时指定数据源 -->
       <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
              <property name="dataSource" ref="dataSource" />
           <!-- MyBatis 的 XML 配置文件路径 -->
           <!--<property name="configLocation" value="/WEB-INF/config/mybatisSqlMapConfig.xml" />-->
           <!-- 扫描自动生成的xml文件 --><!-- Mybatis XML映射文件 -->
           <property name="mapperLocations"  >
               <list><!-- Mybatis XML映射文件 -->
                   <!--<value>classpath*:com/weshare/common/generated/xml/*.xml</value>-->
                   <!-- 扫描自己写的xml文件-->
                   <value>classpath*:com/tot/entity/*.xml</value>
               </list>
           </property>
       </bean>
    <!-- 可通过注解控制事务 -->
    <!--<tx:annotation-driven />-->

    <!-- Mapper接口所在包名，Spring会自动查找其下的Mapper -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.tot.entity"/>
        <!--<property name="markerInterface" value= "com.ikamobile.common.dao.BaseDao"/>-->
    </bean>
</beans>